.header {
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
  }
  
  .header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
  
  .header p {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #344054;
    padding: 0 10px;
  }
  
  .avataar {
    width: 40px;
    height: 40px;
    padding: 0 10px;
  }
  
  .down {
    padding: 0 3px;
  }
  
  .logo {
    width: 70px;
    height: 24px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } 